body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0056b3;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #e6dede;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #1975d8;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result, .payment {
    margin-top: 20px;
}

.result p, .payment button {
    text-align: center;
}
